<%= form_with(model: [course, question], local: true, class: 'ui form') do |form| %>

<div class="field">
  <%= form.label :text %>
  <%= form.text_area :text, id: :question_text %>
</div>

<div class="field" style="display: none;">
  <%= form.label :created_at %>
  <%= form.datetime_select :created_at, id: :question_created_at %>
</div>

<div class="actions">
  <%= form.submit 'Save', class: 'ui sky button' %>
  <%= link_to 'Cancel', @course, class: 'ui button' %>
  <%= link_to 'Remove', course_question_path, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui google plus button' %>
</div>

<% if question.errors.any? %>
  <% class_name = question.class.name.downcase %>
    <% question.errors.keys.each do |field| %>
      <% if question.errors[field].any? %>
        <%= javascript_tag do %>
        document.getElementById('<%= "#{class_name}_#{field}" %>').parentElement.parentElement.classList.add('error');
      <% end %>
    <% end %>
  <% end %>

  <div id="error_explanation" class="ui red message">
    <ul class="list">
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% end %>
