<%= form_with(model: [course, question], local: true, class: 'ui form') do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text, id: :question_text %>
  </div>

  <div class="field" style="display: none;">
    <%= form.label :created_at %>
    <%= form.datetime_select :created_at, id: :question_created_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
