<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Course</th>
      <th>Text</th>
      <th>Status</th>
      <th>Created at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.user %></td>
        <td><%= question.course %></td>
        <td><%= question.text %></td>
        <td><%= question.status %></td>
        <td><%= question.created_at %></td>
        <td><%= link_to 'Show', course_question_path(@course, question) %></td>
        <td><%= link_to 'Edit', edit_course_question_path(@course, question) %></td>
        <td><%= link_to 'Destroy', [@course, question], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_course_question_path %>
