<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @question.user %>
</p>

<p>
  <strong>Course:</strong>
  <%= @question.course %>
</p>

<p>
  <strong>Text:</strong>
  <%= @question.text %>
</p>

<p>
  <strong>Status:</strong>
  <%= @question.status %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @question.created_at %>
</p>

<%= link_to 'Edit', edit_course_question_path(@course, @question) %> |
<%= link_to 'Back', course_questions_path(@course) %>
