<%= render 'layouts/nav' %>

<div class="ui grid container">
  <div class="centered row" style="margin-top: 48px;">
    <div class="twelve wide column">
      <div class="ui segment" style="padding: 40px 48px 36px 48px;">

        <h2 class="ui header">
          Profile
          <div class="sub header">
            View your profile and courses
          </div>
        </h2>

        <table class="ui table">
          <tbody>
            <tr>
              <td class="collapsing">
                <i class="user grey icon"></i>
                <%= @user.name %>
              </td>
            </tr>
            <tr>
              <td>
                <i class="mail grey icon"></i>
                <%= @user.email %>
              </td>
            </tr>
          </tbody>
        </table>

        <%= link_to 'Edit', edit_user_path(@user), class: 'ui sky button' %>
        <%= link_to 'Change Password', edit_user_path(@user), class: 'ui button' %>
        <%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui google plus button' %>

        <p id="notice"><%= notice %></p>
      </div>

      <h3 class="ui header">
        <i class="sky student tiny icon"></i>
        <div class="content">
          Instructor Courses
        </div>
      </h3>
      <table class="ui table">
        <thead>
          <tr>
            <th class="three wide">Name</th>
            <th class="twelve wide">Description</th>
            <th class="one wide"></th>
          </tr>
        </thead>
        <tbody>
          <% @user.instructor_courses.each do |course| %>
            <tr>
              <td><%= course.name %></td>
              <td><%= course.description %></td>
              <td class="collapsing"><%= link_to 'Show', course, class: 'ui button' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <h3 class="ui header">
        <i class="yellow pencil alternate tiny icon"></i>
        <div class="content">
          Student Courses
        </div>
      </h3>
      <table class="ui table">
        <thead>
          <tr>
            <th class="three wide">Name</th>
            <th class="twelve wide">Description</th>
            <th class="one wide"></th>
          </tr>
        </thead>
        <tbody>
          <% if @user.student_courses.empty? %>
            <tr>
              <td colspan="3">You are currently not enrolled in any courses.</td>
            </tr>
          <% else %>
            <% @user.student_courses.each do |course| %>
              <tr>
                <td><%= course.name %></td>
                <td><%= course.description %></td>
                <td class="collapsing"><%= link_to 'Show', course, class: 'ui button' %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div
