<%= render 'layouts/nav' %>

<div class="ui grid container">
  <div class="centered row" style="margin-top: 36px;">
    <div class="sixteen wide column">
      <h2 class="ui header">
        Courses
        <div class="sub header">
          Search for courses and view their office hour queues
        </div>
      </h2>

      <%= link_to 'New Course', new_course_path, class: 'ui sky button' %>

      <table class="ui table">
        <thead>
          <tr>
            <th class="three wide">Name</th>
            <th class="twelve wide" colspan="2">Description</th>
          </tr>
        </thead>

        <tbody>
          <% @courses.each do |course| %>
            <tr>
              <td><%= course.name %></td>
              <td><%= course.description %></td>
              <td><%= link_to 'View', course, class: 'ui button' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <p id="notice"><%= notice %></p>
    </div>
  </div>
</div>
