<%= render 'layouts/nav' %>

<div class="ui grid container">
  <div class="centered row" style="margin-top: 48px;">
    <div class="twelve wide column">
      <div class="ui segment" style="padding: 40px 48px 36px 48px;">
        <div class="sixteen wide column">
          <h2 class="ui header">
            <%= @course.name %>
          </h2>

          <p>
            <%= @course.description %>
          </p>

          <%= link_to 'Edit', edit_course_path(@course), class: 'ui sky button' %>

          <p id="notice"><%= notice %></p>
        </div>
      </div>
      <table class="ui table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Question</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Katie</td>
            <td>Being helped</td>
            <td>Problem 2 on HW 8</td>
          </tr>
          <tr>
            <td>Jamie</td>
            <td>Waiting</td>
            <td>Midterm regrade request</td>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Waiting</td>
            <td>Problem 4 on HW 8</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
